// Aileron Family

@font-face {
  font-family: 'Aileron';
    src: url('../static/fonts/aileron/Aileron-Light.eot');
    src: url('../static/fonts/aileron/Aileron-Light.eot?#iefix') format('embedded-opentype'),
       url('../static/fonts/aileron/Aileron-Light.woff') format('woff'),
       url('../static/fonts/aileron/Aileron-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
    src: url('../static/fonts/aileron/Aileron-LightItalic.eot');
    src: url('../static/fonts/aileron/Aileron-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../static/fonts/aileron/Aileron-LightItalic.woff') format('woff'),
       url('../static/fonts/aileron/Aileron-LightItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
    src: url('../static/fonts/aileron/Aileron-Regular.eot');
    src: url('../static/fonts/aileron/Aileron-Regular.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/aileron/Aileron-Regular.woff') format('woff'),
      url('../static/fonts/aileron/Aileron-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
    src: url('../static/fonts/aileron/Aileron-SemiBold.eot');
    src: url('../static/fonts/aileron/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/aileron/Aileron-SemiBold.woff') format('woff'),
      url('../static/fonts/aileron/Aileron-SemiBold.ttf') format('truetype');
  // although semibold source being used as more than bold so reflected here in declaration
  font-weight: 900;
  font-style: normal;
}

// *********************

// Averta Family

@font-face {
  font-family: 'Averta';
    src: url('../static/fonts/averta/AvertaStd-Black.eot');
    src: url('../static/fonts/averta/AvertaStd-Black.eot?#iefix') format('embedded-opentype'),
       url('../static/fonts/averta/AvertaStd-Black.woff') format('woff'),
       url('../static/fonts/averta/AvertaStd-Black.ttf') format('truetype');
  // although black source being used as regular so reflected here in declaration
  font-weight: 400;
  font-style: normal;
}
