// ******************************************************

// PROGRAMACION

.programacion-row
  font-size: $font-size-mid
  h3
    padding-bottom: $margin-micro
  .programacion-row
    padding: $margin-micro 0 0 $margin-basic

.programacion-event-info
  p
    font-size: $font-size-basic
