#offline-icon
  display: inline-block

#play-btn,
#pause-btn
  display: none

#player-container

  &.online
    #offline-icon
      display: none

    #pause-btn
      display: none

    #play-btn
      display: inline-block

  &.playing
    #pause-btn
      display: inline-block

    #play-btn
      display: none

