$header-height = 106px

$earth-diameter = 30vw
$earth-transition = 100ms

// ******************************************************

// BASIC

html, body
  height: 100%

body
  background-color: $color-grey
  background-position: center
  background-size: cover
  background-color: #d8d8d8

[v-cloak]
  display: none

#overlay
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: $color-grey
  z-index: 100
  pointer-events: none
  opacity: 0
  transition: opacity $transition-duration
  mix-blend-mode: luminosity

.blend-difference
  color: $color-grey
  mix-blend-mode: difference
  svg
    fill: $color-grey
  *::after,
  *::before
    border-top-color: $color-grey

#earth-container
  position: fixed
  top: 0
  left: 0
  z-index: 250
  //filter: saturate(0)
  mix-blend-mode: difference

.overlay-active
  #overlay
    opacity: 1
  .blend-difference
    color: $color-black
    mix-blend-mode: normal
    svg
      fill: $color-black
    *::before
      border-top-color: $color-black

  #earth-container
    z-index: 100

#earth-flat
  position: fixed
  width: $earth-diameter
  height: $earth-diameter
  top: 50%
  left: 50%
  margin-top: ($earth-diameter / 2) - $earth-diameter
  margin-left: ($earth-diameter / 2) - $earth-diameter
  border-radius: 50%
  background-image: url(../img/earth_texture.jpg)
  background-size: ($earth-diameter * 2.5) + ($earth-diameter * .05)
  background-position: center
  animation: rotate-earth 30s infinite linear
  transition: transform $earth-transition cubic-bezier(0.18, 0.01, 0.88, 1)

@keyframes rotate-earth
  0%
    background-position: 0px 50%
  100%
    background-position: (($earth-diameter * 2.5) + ($earth-diameter * .05)) 50%

// HEADER

#header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 300

#site-logo
  width: 30px

#site-title-holder
  flex-grow: 1
  white-space: nowrap
  transition: opacity $transition-duration

.overlay-active
  #site-title-holder
    width: 0
    opacity: 0

.page-nav-item
  opacity: 1
  transition: opacity $transition-duration, border-color $transition-duration

#desktop-nav-list
  justify-content: flex-end
  .page-nav-item
    opacity: 0
    width: 0
    overflow: hidden
    border-color: transparent
  .desktop-nav-item.active
    .desktop-page-open
      opacity: 1
      width: auto
      pointer-events: none

.desktop-page-close
  opacity: 0

a.social-icon-holder
  position: relative
  display: block
  width: 30px
  height: 30px

.social-icon
  position: absolute
  width: 30px
  top: 0
  left: 0

#mobile-overlay-toggle
  position: relative
  width: 24px
  height: 18px
  z-index: 300
  &::before,
  &::after
    position: absolute
    right: 0
    left: 0
    border-top: 6px solid
    content: ''
    transition: transform $transition-duration
  &::before
    top: 0
  &::after
    bottom: 0

.overlay-active
  #mobile-overlay-toggle
    &::before
      transform: translateY(6px) rotate(45deg)
    &::after
      transform: translateY(-6px) rotate(-45deg)

#mobile-menu
  z-index: 200
  &.active
    opacity: 1
    pointer-events: all

// ******************************************************

// PLAYER

#offline-icon
  display: inline-block

#play-button,
#pause-button
  display: none

#player-container
  position: fixed
  bottom: 0
  left: 0
  width: 100vw
  z-index: 300

  &.online
    #offline-icon
      display: none

    #pause-button
      display: none

    #play-button
      display: inline-block

  &.playing
    #pause-button
      display: inline-block

    #play-button
      display: none

#player-row
  flex-wrap: nowrap

#player-status
  flex-wrap: nowrap

#player-control-holder
  width: 40px
  text-align: center

.player-icon
  height: 24px

#stream-status
  width: 0
  overflow-x: hidden

#now-playing-marquee-holder
  position: relative
  overflow-x: hidden

#now-playing-marquee
  position: absolute
  top: 0
  bottom: 0
  left: -50%
  width: auto
  animation: marquee-slide 10s linear 0s infinite

@keyframes marquee-slide
  from
    transform: translateX(-25%)
  to
    transform: translateX(0%)

#now-playing
  white-space: nowrap

.now-playing-text
  padding-right: $margin-small
  &::after
    content: ' . . . '

#marquee-mask
  position: absolute
  width: 100%
  height: 100%
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%)

.overlay-active
  #player-status
    opacity: 0

// ******************************************************

// PAGES

#pages
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  overflow-y: auto
  z-index: 200

.page-overlay
  position: absolute
  top: 0
  width: 100%
  opacity: 0
  transition: opacity $transition-duration
  padding-top: $header-height + $margin-basic
  pointer-events: none
  height: 0
  overflow: hidden
  &.page-active, &.active
    pointer-events: all
    opacity: 1
    height: auto
    min-height: 100vh
    overflow: auto

// ******************************************************

// PROGRAMACION

.programacion-row
  font-size: $font-size-mid
  h3
    border-bottom: 2px solid $color-black
    padding-bottom: $margin-micro
  .programacion-row
    padding: $margin-micro 0 0

.programacion-event
  display: flex
  flex-direction: row

.programacion-event-info
  flex-grow: 1
  padding-left: $margin-small
  p
    font-size: $font-size-basic
