$header-height = 144px

// HEADER

#site-logo
  width: 40px

.overlay-active
  #site-title-holder
    display: initial

#mobile-menu
  top: $header-height

#mobile-overlay-toggle
  width: 30px
  height: 20px

.overlay-active
  #mobile-overlay-toggle
    &::before
      transform: translateY(7px) rotate(45deg)
    &::after
      transform: translateY(-7px) rotate(-45deg)

#desktop-nav-holder
  flex-grow: 1

#stream-status
  width: auto

.player-icon
  height: 30px

.page-overlay
  padding-top: $header-height + $margin-basic
  p
    max-width: 750px

// ******************************************************

// PROGRAMACION

.programacion-row
  font-size: $font-size-mid
  h3
    padding-bottom: $margin-micro
  .programacion-row
    padding: $margin-micro 0 0 $margin-small

.programacion-event-info
  padding-left: $margin-small
  p
    font-size: $font-size-basic
