.blend-difference
  .desktop-page-close
    svg
      stroke: $color-grey

.overlay-active
  .blend-difference
    .desktop-page-close
      svg
        stroke: $color-grey

// HEADER

#site-logo
  width: 50px

#header-main
  padding-top: $margin-small

.desktop-page-close
  position: relative
  width: $margin-small
  height: $margin-small
  display: inline-block
  margin: 0 $margin-tiny ($margin-small * -.3)

  svg
    width: 100%
    height: 100%
    display: block
    fill: none
