$header-height = 178px

// ******************************************************

// BASIC

.blend-difference
  .desktop-page-close
    svg
      stroke: $color-grey

.overlay-active
  #desktop-nav-list
    .page-nav-item
      opacity: 0
      border-color: transparent
  .blend-difference
    #desktop-nav-list
      .desktop-nav-item.active
        .desktop-page-close
          cursor: pointer
          pointer-events: all
          opacity: 1
          svg
            stroke: $color-black

  .page-overlay
    padding-top: $header-height + $margin-basic
    p
      max-width: 850px

// ******************************************************

// HEADER

#site-logo
  width: 50px

#desktop-nav-list
  justify-content: center
  .page-nav-item
    opacity: 1
    width: auto
    overflow: visible

.desktop-page-close
  position: relative
  width: $margin-small
  display: inline-block
  margin: -7px $margin-tiny ($margin-small * -.3)
  opacity: 0
  transition: opacity $transition-duration
  pointer-events: none
  svg
    width: 100%
    height: 100%
    display: block
    fill: none

// ******************************************************

// PROGRAMACION

.programacion-row
  font-size: $font-size-mid
  h3
    padding-bottom: $margin-micro
  .programacion-row
    padding: $margin-micro 0 0 $margin-small

.programacion-event-info
  padding-left: $margin-small
  p
    font-size: $font-size-basic
